html, body {
  padding: 0;
  margin: 0;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

h1.meta-h1 {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  height: 0;
  text-indent: 100%;
}

.base {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  z-index: 10000;
  background-color: rgba(28, 137, 189, 0.96);
}

header img.logo {
  display: inline;
}

#hmenu {
  display: none;
  position: absolute;
  right: 20px;
  top: 7px;
}

.tcon-menu__lines, .tcon-menu__lines::before, .tcon-menu__lines::after {
  background: white!important;
}
.scroll .tcon-menu__lines, .scroll .tcon-menu__lines::before, .scroll .tcon-menu__lines::after {
  background: black!important;
}

#header {
  width: 100%;
  background-size: cover;
  text-align: center;
  display: inline-block;
  height: 629px;
  border-bottom: 1px solid #7eaedf;
}

#header_nav {
  list-style: none;
  float: right;
  margin: 0;
}

#header_nav > li {
  display: inline;
  margin-right: 20px;
}

#header_nav > li > a {
  color: white;
  text-decoration: none;
}

header.scroll #header_nav .en_white {
  display: none;
}
header.scroll #header_nav .en_black {
  display: inline;
}
#header_nav .en_white {
  vertical-align: middle;
  display: inline;
  position: relative;
  top: -2px;
}
#header_nav .en_black {
  vertical-align: middle;
  display: none;
  position: relative;
  top: -2px;
}

#header .mobile_demo_box {
  width: 50%;
  float: left;
  height: 100%;
  position: relative;
}
#header .mobile_demo_box .header_demo {
  position: absolute;
  right: 0;
  bottom: 0;
}
#header .mobile_demo_box #mobile_demo {
  border-radius: 5px;
}
#header .mobile_demo_box .start_chat_btn {
  position: absolute;
  right: 184px;
  bottom: 28px;
  font-size: 13px;
  cursor: pointer;
  padding: 6px 52px;
  margin: 0;
  width: 72px;
  height: 22px;
  border-radius: 20px;
}
#header .mobile_demo_box .start_chat_btn:focus {
  outline: none;
  text-decoration: none;
}
#header .efo_demo {
  position: absolute;
  right: 150px;
  bottom: 0;
}
#header .efo_demo .wc-webchat {
  display: block; width: 240px; height: 412px;
  border: none;
}
#header .header_text_box {
  width: 33%;
  float: left;
  position: relative;
  color: #fff;
  height: 100%;
  text-transform: uppercase;
  font-weight: 600;
}
#header .header_text_box .header_text {
  position: absolute;
  top: 36%;
  width: 100%;
}
#header .header_text_item {
  width: 80%;
}
#header .header_text_item p {
  margin: 0;
}
#header .header_text_item.first {
  font-size: 28px;
  border-bottom: 4px solid #fff;
  padding-bottom: 10px;
}
#header .header_text_item.second {
  font-size: 16px;
  padding-top: 10px;
}

/*privacy, company page*/
.privacy_page #header,
.company_page #header,
.contact_page #header
{
  height: 250px;
  background-size: cover;
}
.privacy_page #header .header_text_box,
.company_page #header .header_text_box,
.contact_page #header .header_text_box
{
  width: 100%;
}
.privacy_page #header .header_text_box .header_text,
.company_page #header .header_text_box .header_text,
.contact_page #header .header_text_box .header_text
{
  position: inherit;
  margin: 0 auto;
  width: 500px;
  top: 45%;
}
.company_page #header .header_text_box .header_text,
.contact_page #header .header_text_box .header_text
{
  width: 250px;
}

.privacy_page #header .header_text_item,
.company_page #header .header_text_item,
.contact_page #header .header_text_item
{
  width: 100%;
}
.company_page .contact_base table,
.privacy_page .contact_base .privacy_content {
  padding: 0 80px;
}
.company_page .contact_base table tr {
  height: 75px;
}
.company_page .contact_base table tr td:first-child {
  font-weight: bold;
  min-width: 225px;
}

/*breadcumb*/
#header .breadcumb {
  display: inline-block;
  width: 100%;
  background-color: #1687be;
  height: 30px;
  color: #fff;
}
#header .breadcumb .breadcumb_container {
  float: left;
}
#header .breadcumb .item {
  display: inline-block;
}
#header .breadcumb .item p {
  line-height: 30px;
  margin: 0;
}

.header_button {
  margin-top: 100px;
}

.section {
  width: 100%;
  padding: 90px 0 20px 0;
}
.section.bg1 {
  background: url(../images/google_analytic_background.png) no-repeat center -37px #efefef;
  padding-top: 0;
}

.section .header {
  text-align: center;
}

#bnrArea{
  background-color: #000000;
  padding: 8px 0;
  text-align: center;
}
#bnrArea ul{
  list-style: none;
}
#bnrArea li{
  display: inline-block;
  margin: 0 20px;
}
#bnrArea li > img {
  vertical-align: bottom;
}

.text-1-box {
  font-weight: bold;
  text-align: center;
}
.text-1-content {
  font-size: 30px;
  border-bottom: 4px solid #000;
  margin-bottom: 15px;
  display: inline-block;
}
.text-1-content p {
  padding: 10px 0;
  margin: 0;
}

.section.bg1 .box_container {
  display: inline-block;
  width: 100%;
}
.section.bg1 .box_container .box_item {
  display: table;
  width: 30%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 7px;
  padding-right: 7px;
}
.section.bg1 .box_container .box_item p {
  border: 3px solid #6c6c6c;
  text-align: center;
  background-color: #fff;
  height: 87px;
  vertical-align: middle;
  display: table-cell;
}
.section.bg1 .box_container .box_item p:before,
.section.bg1 .box_container .box_item p:after {
  top: 99%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.section.bg1 .box_container .box_item p:before {
  border-top-color: #6c6c6c;
  border-width: 20px;
  margin-left: -20px;
}
.section.bg1 .box_container .box_item p:after {
  border-top-color: #fff;
  border-width: 19px;
  margin-left: -19px;
  top: 95%;
}

.section.bg1 .text-1-wrapper {
  font-size: 18px;
  font-weight: 500;
}
.section.bg1 .text-1-wrapper p {
  display: inline-block;
  padding: 20px 15px
}
.section.bg1 .text-2-wrapper {
  text-align: center;
}
.section.bg1 .text-3-wrapper {
  color: red;
  font-size: 22px;
  padding-left: 10%;
  margin-top: 30px;
  font-weight: 500;
}

.section.bg2 {
  background: url(../images/bg2/background.png) no-repeat bottom transparent;
  background-size: cover;
  color: #fff;
}
.section.bg2 .text-1-box {
  text-align: left;
}
.section.bg2 .text-1-content {
  padding-right: 50px;
  border-bottom: 4px solid #fff;
}
.section.bg2 .text-2-content {
  font-size: 16px;
}
.section.bg2 p {
  margin: 0;
}
.section.bg2 .bg2_item_cotainer {
  display: inline-block;
  width: 100%;
  padding: 20px 0 35px 150px;
}
.section.bg2 .bg2_item {
  text-align: center;
  display: inline;
  /*margin-left: 205px;*/
}
.section.bg2 .bg2_item li {
  width: 35%;
  max-width: 273px;
  height: 380px;
  overflow: hidden;
  float: left;
  display: block;
  padding: 15px;
  margin: 15px 10px;
  box-shadow: 0 0 0 0px rgba(0, 0, 0, .1), 6px 7px 8px rgba(0, 0, 0, .15);
}
.section.bg2 .bg2_item li h2 {
  font-size: 16px;
}
.section.bg2 .bg2_item li.item1 {
  background-color: #1791c9;
}
.section.bg2 .bg2_item li.item2 {
  background-color: #1aa2c9;
}
.section.bg2 .bg2_item li.item3 {
  background-color: #1eb5ca;
}
.section.bg2 .bg2_item li.item3 img{
  padding-top: 12%;
  width: 30%;
}
.section.bg2 .bg2_item li.item3 p{
  padding-top: 10%;
}


.section.bg3 .text-1-content {
  font-size: 30px;
  border-bottom: 4px solid #000;
  margin-bottom: 15px;
  display: inline-block;
}
.section.bg3 .text-1-content p {
  padding: 10px 0px;
}
.section.bg3 .text-2-content {
  font-size: 16px;
}
.section.bg3 p {
  margin: 0;
}
.section.bg3 .bg3_item_cotainer {
  display: inline-block;
  width: 100%;
}
.section.bg3 .bg3_item {
  width: 45%;
  list-style: none;
}
.section.bg3 .bg3_item.left {
  float: left;
  text-align: right;
  padding: 0;
}
.section.bg3 .bg3_item.right {
  float: right;
}
.section.bg3 .bg3_item.right li {
  float: right;
  margin: 8px 0;
}

.section.bg3 .bg3_item li {
  width: 70%;
  line-height: 48px;
  margin: 13px 0;
  text-decoration: none;
  padding: 0 20px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 0 0 0px rgba(0, 0, 0, .1), 6px 7px 8px rgba(0, 0, 0, .15);
  cursor: pointer;
}
.section.bg3 .bg3_item li.active {
  width: 90%;
}
.section.bg3 .bg3_item li.item1 {
  background-color: #1791c9;
}
.section.bg3 .bg3_item li.item2 {
  background-color: #1aa2c9;
}
.section.bg3 .bg3_item li.item3 {
  background-color: #1eb5ca;
}
.section.bg3 .service_view {
  padding: 50px 0 80px 0;
}
.section.bg3 .service_item {
  display: inline-block;
}
.section.bg3 .service_item img {
  max-width: 100%;
}
.section.bg3 .service_item.service_pc {
  width: 62%;
  text-align: right;
}
.section.bg3 .service_item.service_mobile {
  /*width: 35%;*/
  position: relative;
}
/*iframe mobile*/
.section.bg3 .service_item .efo_demo_mobile {
  position: absolute;
  bottom: 46px;
  right: 11px;
  border: none;
}
.section.bg3 .service_item .efo_demo_mobile .wc-webchat2 {
  width: 158px;
  height: 278px;
  border: none;
}


.section.bg4 {
  background: url(../images/bg4/background.png) no-repeat center transparent;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
}
.section.bg4 .text-1-box {
  text-align: left;
}
.section.bg4 .text-1-content {
  border-bottom: 4px solid #fff;
  margin-left: 20%;
}
.section.bg4 p {
  margin: 0;
  cursor: pointer;
}
.section.bg4 .bg4_item_cotainer {
  display: inline-block;
  width: 100%;
}
.section.bg4 .bg4_item {
  min-width: 33%;
  list-style: none;
}
.section.bg4 .bg4_item.left {
  float: left;
  text-align: right;
  margin-top: 50px;
}
.section.bg4 .bg4_item.left li:not(.active)
{
  width: 70%;
}
.section.bg4 .bg4_item li {
  line-height: 48px;
  margin: 13px 0;
  text-decoration: none;
  padding: 0 20px;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 0 0 0px rgba(0, 0, 0, .1), 6px 7px 8px rgba(0, 0, 0, .15);
}
.section.bg4 .bg4_item li.item1 {
  background-color: #2f66a8;
}
.section.bg4 .bg4_item li.item2 {
   background-color: #d04a45;
 }
.section.bg4 .bg4_item li.item3 {
  background-color: #f5de7c;
}
.section.bg4 .bg4_item li.item4 {
  background-color: #9dde62;
}
.section.bg4 .bg4_item li.item5 {
  background-color: #fcb667;
}
.section.bg4 .service_item {
  display: inline-block;
  margin-right: 14%;
  float: right;
  position: relative
}
.section.bg4 .screen_img {
  position: absolute;
  width: 240px;
  height: 423px;
  top: 69px;
  right: 17px;
}
.section.bg4 .info_item {
  /*width: 15%;*/
  float: left;
  margin-left: 65px;
  position: relative;
  margin-top: 47px;
}
.section.bg4 .info_item:before {
  display: inline-block;
  content: "";
  border-top: 1px solid #fff;
  width: 50px;
  margin-right: 10px;
  position: absolute;
  left: -65px;
  top: 40px;
}



.section.bg5 {
  padding-bottom: 80px;
}
.section.bg5 p {
  margin: 0;
}
.section.bg5 .bg5_item_cotainer {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
}
.section.bg5 .bg5_item {
  width: 100%;
  list-style: none;
}
.section.bg5 .bg5_item li {
  font-weight: 500;
  text-align: center;
}
.section.bg5 .step_content .step_title {
  height: 98px;
  overflow: hidden;
}
.section.bg5 .step_content .label1 {
  padding-bottom: 3px;
}
.section.bg5 .step_content .label2 {
  border-top: 3px solid #000;
  display: inline-block;
  line-height: 22px;
  padding-top: 5px;
}
.section.bg5 .step_content .label3 {
  font-weight: normal;
}
.section.bg5 .step_content .step_image {
  margin: 15px 0 15px 0;
}
.section.bg5 .bg5_item li.item1,
.section.bg5 .bg5_item li.item3,
.section.bg5 .bg5_item li.item5
{
  width: 27%;
  float: left;
}
.section.bg5 .bg5_item li.item2,
.section.bg5 .bg5_item li.item4 {
  width: 7%;
  float: left;
  margin-top: 70px;
  font-size: 13px
}
.section.bg5 .step_image img {
  max-width: 100%;
}



.section.bg6 {
  padding-bottom: 50px;
  background-color: #efefef;
}
.section.bg6 p {
  margin: 0;
}
.section.bg6 .bg6_cotainer {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
}
.section.bg6 .bg6_cotainer table {
  width: 50%;
  margin: 0 auto;
}
.section.bg6 .bg6_cotainer table tr {
  border-left: 2px solid #d1d1d1;
  border-right: 2px solid #d1d1d1;
  border-bottom: 2px solid #d1d1d1;
  height: 67px;
  display: block;
}
.section.bg6 .bg6_cotainer table tr.item1 {
  border-top: 2px solid #d1d1d1;
}
.section.bg6 .bg6_cotainer table tr.item2 {
  border-top: 2px solid #d1d1d1;
}
.section.bg6 .bg6_cotainer table tr.item1 td:first-child {
  background: url(../images/bg6/table_background1.png) no-repeat center transparent;
  background-size: cover;
  padding-top: 0%;
}
.section.bg6 .bg6_cotainer table tr.item2 td:first-child {
  background: url(../images/bg6/table_background2.png) no-repeat center transparent;
  background-size: cover;
  padding-top: 0%;
}
.section.bg6 .bg6_cotainer table tr.item3 td:first-child {
  background: url(../images/bg6/table_background3.png) no-repeat center transparent;
  background-size: cover;
  padding-top: 0%;
}
.section.bg6 .bg6_cotainer table tr.item4 td:first-child {
  background: url(../images/bg6/table_background4.png) no-repeat center transparent;
  background-size: cover;
  padding-top: 0%;
}
.section.bg6 .bg6_cotainer table tr.item5 td:first-child {
  background: url(../images/bg6/table_background5.png) no-repeat center transparent;
  background-size: cover;
  padding-top: 0%;
}
.section.bg6 .bg6_cotainer table tr td:first-child {
  color: #fff;
}
.section.bg6 .bg6_cotainer table tr:not(.item_img) td:last-child {
  border-left: 2px solid #d1d1d1;
}
.section.bg6 .bg6_cotainer table td {
  line-height: 62px;
  width: 49%;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  height: 100%;
}
.section.bg6 .bg6_cotainer table tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
/*icon*/
.section.bg6 .bg6_cotainer table .item_img {
  border: none;
  height: 12px;
  width: 100%;
  position: relative;
}
.section.bg6 .table_icon_box {
  position: absolute;
  top: -26px;
  left: 45%;
}
.section.bg6 .table_icon_box img {
  height: 63px;
}
/*bottom title*/
.section.bg6 .bg6_cotainer .title_bottom_box {
  width: 50%;
  margin: 0 auto;
  padding: 5px 20px 0 0;
}
.section.bg6 .bg6_cotainer .title_bottom {
  float: right;
  font-size: 13px;
}




.section.bg7 {
  padding-bottom: 180px;
}
.section.bg5 p {
  margin: 0;
}
.section.bg7 .bg7_item_cotainer {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
}
.section.bg7 .bg7_item {
  width: 100%;
  list-style: none;
}
.section.bg7 .bg7_item li {
  margin: 13px 15px;
  font-weight: 500;
  text-align: center;
  width: 28%;
  float: left;
  border: 5px solid #1791c9;
  min-height: 170px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  overflow: hidden;
}
.section.bg7 .bg7_item li .title {
  height: 67px;
  background-color: #1791c9;
}
.section.bg7 .bg7_item li .title p {
  margin: 0;
  line-height: 67px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
.section.bg7 .bg7_item li .content {
  height: 103px;
  display: inline-block;
  width: 100%;
  color: #1791c9;
}
.section.bg7 .bg7_item li .content p {
  line-height: 103px;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}
.section.bg7 .bg7_item li .content .contact {
  text-decoration: none;
  color: #1791c9;
  font-weight: 700;
  font-size: 20px;
}

.section.bg7 .bg7_item li.item1 .content p {
  line-height: 22px;
}
.section.bg7 .bg7_item li.item1 .content .phone {
  padding-top: 30px;
  font-weight: bold;
  font-size: 26px;
  padding-bottom: 10px;
}
.section.bg7 .bg7_item li .title p img {
  margin-bottom: -7px;
  padding-right: 5px;
}


.section .header2 {
  margin-top: 30px;
}

.faq_link {
  text-align: center;
}
.fc-white a{
  color: #fff;
}
.fc-black a{
  color: #444545;
}

.footer {
  text-align: center;
  background: url(../images/footer_bg.png) no-repeat center transparent;
  background-size: cover;
  color: white;
}
.footer ul {
  list-style: none;
  text-align: center;
  padding: 50px 0;
  margin: 0;
}
.footer ul > li {
  display: inline;
  margin: 0 50px;
}
.footer ul > li > a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
}
.footer .copyright {
  padding-bottom: 30px;
  font-weight: bold;
}

.bx-wrapper {
  margin: 0;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none
}





.thanks_base {
  max-width: 800px;
  padding: 100px 0 400px;
  margin: 80px auto 0;
  text-align: center;
}
.contact_header {
  text-align: center;
  margin-bottom: 60px;
}
.contact_base {
  padding: 60px 0;
  margin: 80px auto 0;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, .1), 0 0 0 rgba(0, 0, 0, .15);
  margin-bottom: 100px;
}
.contact_page table {
  width: 70%;
  margin: 0 auto;
}
.contact_page table tr {
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  height: 38px;
  display: block;
}
.contact_page table td {
  display: block;
  float: left;
}
.contact_page table tr.item1 {
  border-top: 1px solid #d1d1d1;
}
.contact_page table tr.item1 td:first-child {
  border-top: 1px solid #d1d1d1;
  background: url(../images/bg6/table_background1.png) no-repeat center transparent;
  background-size: cover;
  height: 35px;
}
.contact_page table tr.item2 td:first-child {
  background: url(../images/bg6/table_background2.png) no-repeat center transparent;
  background-size: cover;
}
.contact_page table tr.item3 td:first-child {
  background: url(../images/bg6/table_background3.png) no-repeat center transparent;
  background-size: cover;
}
.contact_page table tr.item4 td:first-child {
  background: url(../images/bg6/table_background4.png) no-repeat center transparent;
  background-size: cover;
 }
.contact_page table tr.item5 td:first-child {
  background: url(../images/bg6/table_background5.png) no-repeat center transparent;
  background-size: cover;
}

.contact_page table tr td:first-child {
  width: 40%;
  border-right: 1px solid #d1d1d1;
  height: 36px;
  color: #ffffff;
  font-weight: 500;
  padding-left: 20px;
}
.contact_page table tr td:first-child p {
  width: 70%;
  float: left;
  line-height: 37px;
  margin: 0;
}
.contact_page table tr.item5 {
  height: 78px;
}
.contact_page table tr.item5 td:first-child p {
  line-height: 78px;
  height: 100%;
}
.contact_page table tr.item5 td:first-child {
  height: calc(100% - 2px);
}

.contact_page table tr td:first-child .require {
  float: right;
  margin: 5px;
  background: #224477;
  color: #ff5d5d;
  padding: 0 10px;
}
.contact_page table tr.item5 td .require {
  margin-top: 25px;
}

.contact_page table tr td:last-child {
  width: 57%;
}
.contact_page table tr input {
  height: 36px;
  width: 100%;
  border: none;
  padding-left: 20px;
  outline: none;
}
.contact_page table tr textarea {
  width: 100%;
  height: 98%;
  border: none;
  padding-left: 20px;
  outline: none;
}

.contact_form {
  width: 100%;
}
.contact_form > dt {
  width: 30%;
  display: inline-block;
  padding: 10px 0;
}
.contact_form > dd {
  width: 60%;
  padding: 10px 0;
  display: inline-block;
}

.contact_base .contact_title {
  text-align: center;
  font-size: 22px;
}
.contact_base .submit {
  text-align: center;
  margin-top: 50px;
}
.contact_base .submit input[type="submit"] {
  background: #1eb2c8;
  color: white;
  padding: 10px 30px;
  border: none;
  width: 120px;
  height: 40px;
  box-shadow: 0 0 0 0px rgba(0, 0, 0, .1), 6px 7px 8px rgba(0, 0, 0, .15);
}
.contact_form > dt {
  vertical-align: top;
  font-weight: bold;

}
.contact_form > dd input[type="text"] {
  width: 100%;
  height: 30px;
  border: none;
  background: #f5f5f5;
}
.contact_form > dd select {
  width: 100%;
  height: 30px;
  border: none;
  background: #f5f5f5;
  border-radius: 5px;
}
.contact_form > dd textarea {
  width: 100%;
  height: 200px;
  border: none;
  background: #f5f5f5;
  border-radius: 5px;
}



/*  料金プランパート追記  */
#price {
  background-color: #babddb;
}
#price * {
  box-sizing: border-box;
}
#price .header {
  margin-bottom: 60px;
}
/*  初期導入費 */
.price_initialcost {
  background-color: #f5f5f5;
  border: 4px solid #ececec;
  padding: 14px 32px 20px 96px;
  display: flex;
  align-items: center;
}
.price_initialcost_ttl {
  margin-right: 154px;
}
.price_initialcost_txtWrapper {
}
.price_initialcost_txt {
}
.price_initialcost_txt img {
  margin: auto;
  display: block;
}
.price_initialcost_period {
  background-color: #aaaaaa;
  padding: 12px 20px 10px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  border-radius: 6px;
  line-height: 1;
}
.price_initialcost_period span {
  display: inline-block;
  margin: 0 2px;
  font-weight: bold;
}
/*  プラン案内 */
.price_plan {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 40px auto;
  min-width: 1200px;
}
/*  無料アカウント登録 */
.price_entry{
  margin-bottom: 40px;
}
.price_entry_btn {
}
.price_entry_btn a {
  transition: 0.3s;
  display: block;
}
.price_entry_btn a:hover {
  transition: 0.3s;
  opacity: 0.5;
}
.price_entry_btn img {
  display: block;
  margin: 0 auto;
}
.price_entry_txt {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}
/*  オプション */
.price_option {
  background-color: #fff;
  padding: 45px 110px 72px;
  min-width: 1200px;
}
.price_option_ttl {
}
.price_option_ttl img {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.price_option_txt {
  color: #333;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 40px;
}
.price_option_list {
  padding: 0;
}
.price_option_item {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #dddddd;
}
.price_option_item:first-child {
  border-top: 3px solid #dddddd;
}
.price_option_item_ttl {
  font-size: 14px;
  font-weight: bold;
  color: #666666;
  width: 252px;
  /*min-width: ;*/
  padding: 13px 0px 10px 54px;
  position: relative;
  line-height: 1;
}
.price_option_item_ttl::before {
  content: "";
  background: url(/images/ja/price/price_icon_check.png) no-repeat 0 0;
  background-size: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 24px;
  margin: auto;
  width: 22px;
  height: 22px;
}
.price_option_item_txt {
  font-size: 13px;
  font-weight: bold;
  color: #666666;
  width: 728px;
  padding: 10px 38px;
  border-left: 1px solid #dddddd;
}
@media screen and (max-width: 760px) {
  .price_initialcost {
    width: 90%;
    padding: 2%;
    display: block;
   }
  .price_initialcost_ttl {
    margin-right: 0;
  }
  .price_initialcost_ttl img {
    display: block;
    margin: auto;
  }
  .price_initialcost_txt img {
    width: 100%;
    display: block;
  }
  .price_initialcost_period {
    padding: 12px 2% 10px;
    line-height: 1.3;
    text-align: left;
  }
  .price_initialcost_period span {
    display: inline;
    margin: 0;
  }
  /*  プラン案内 */
  .price_plan {
    display: block;
    width: 90%;
    min-width: 90%;
    margin: 0 auto;
  }
  .price_plan_cont img {
    width: 100%;
  }
  /*  無料アカウント登録 */
  .price_entry{
    margin-bottom: 20px;
  }
  .price_entry_btn {
  }
  .price_entry_btn a {
    width: 90%;
    margin: auto;
  }
  .price_entry_btn img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .price_entry_txt {
    width: 90%;
    margin: auto;
    text-align: left;
  }
  /*  オプション */
  .price_option {
    width: 90%;
    min-width: 90%;
    padding: 20px 4%;
  }
  .price_option_ttl {
  }
  .price_option_ttl img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .price_option_txt {
    margin-bottom: 20px;
  }
  .price_option_item_ttl {
    width: 30%;
    min-width: 30%;
    padding: 1% 2%;
    line-height: 1.3;
  }
  .price_option_item_ttl::before {
    content: none;
  }
  .price_option_item_txt {
    width: 70%;
    min-width: 70%;
    padding: 1% 4%;
  }
  .privacy_page .contact_base .privacy_content{
    padding: 0 20px;
  }
  .privacy_page #header .header_text_box .header_text{
    width: auto;
  }
  .privacy_page .contact_base, .company_page .contact_base{
    padding: 15px 0px;
  }
  .privacy_page #header .header_text_item{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 760px) {

  #hmenu {
    display: inline;
  }
 .section .text-2-wrapper > div {
    width: 94%;
    padding: 10px 0;
  }
  .text-2-list > div > img {
    width: auto;
    padding: 0 20px;
    height: 30px;
  }
  #header_nav {
    display: none;
  }
  #mobile_demo {
    width: 80%;
  }
  #header_button {
    width: 50%;
  }
  header > div.base {
    text-align: center;
  }

  .section .text-5-list {
    display: block;
    margin: 100px auto 0;
  }
  .section .text-5-list li{
    width: 80%;
    margin: 0 auto 80px;
  }
  .section .text-5-list img{
    height: 90px; 
  }
  .section .text-5-arrow{
    display: none;
  }

  .section .text-6-images .left {
    padding: 0;
    margin-bottom: 20px;
  }
  .text-6-images a{
    display: block;
  }
  .section .text-6-images img {
    width: 90%;
  }

  .section .text-4 .title {
    font-size: 24px;
    padding: 0 3%;
  }

  .section .text-4 .body img {
    width: 90%;
    height: auto;
  }

  .section .text-1-list > li {
    padding-bottom: 50px;
  }


  .contact_form > dt {
    width: 100%;
  }
  .contact_form > dd {
    width: 100%;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
  }

  #header_nav {
    position: fixed;
    top: 58px;
    width: 100%;
    padding: 0;
    background: rgba(0, 0, 0, 0.9);
  }
  #header_nav > li{
    width: 100%;
    display: block;
    padding: 20px 0;
  }
  header.scroll #header_nav > li > a { 
    color: white;
  }

  header.scroll #header_nav .en_white {
    display: inline;
  }
  header.scroll #header_nav .en_black {
    display: none;
  }

  #bnrArea ul{
    width: 94%;
    padding: 0 3%;
  }
  #bnrArea li{
    margin: 0 3%;
    width: 43%;
  }
  #bnrArea li > img {
    max-width: 100%;
  }

  .header_text{
    width: 80%;
  }

  .footer ul{
    padding: 24px 0;
  }

  .footer ul > li{
    display: block;
    text-align: center;
    margin: 0;
  }
  .section.bg6 .bg6_cotainer table td {
    font-size: 15px;
  }

}

@media screen and (max-width : 480px) {
  .section {
    padding: 20px 0;
  }
  .bg4_item_cotainer ul {
    padding-left: 0px;
  }
  .section.bg4, section.bg2 {
    padding-top: 20px;
  }
  .section.bg2 .text-1-content {
    font-size: 17px;
  }
  .section.bg2 .bg2_item_cotainer {
    padding-left: 0px;
  }
  .section.bg2 .bg2_item_cotainer .bg2_item li {
    margin: 15px 10px;
  }
  .section.bg2 .text-2-content {
    font-size: 16px;
    padding-left: 10px;

  }
  .section.bg2 .bg2_item li h2 {
    float: left;
  }
  .section.bg2 .bg2_item li .sp_view {
    float: left;
  }
  .section.bg4 .bg4_item_cotainer>ul>li p {
    padding: 5px 0;
  }
  .section.bg3 .bg3_item_cotainer >ul>li p {
    padding: 5px 0;
  }
  .section.bg4 .text-1-content {
    margin-left: 25px;
    font-size: 17px;
  }
  .section.bg4 .info_item {
    font-size: 16px;
  }
  .section.bg4 .bg4_item.left li:not(.active) {
    width: 73%;
  }
  .section.bg4 .bg4_item.left li.active {
    width: 83%;
  }
  /*.section.bg3 .bg3_item.left li, .section.bg3 .bg3_item.left li.active {*/
    /*width: 83% !important;*/
  /*}*/
  .section.bg2 .bg2_item li.item3 p {
    padding-left: 10%;
    padding-top: 8%;
  }
  .section.bg6 .bg6_cotainer table td {
    font-size: 15px;
  }
  .section.bg6 .bg6_cotainer table {
    width: 100%;
    margin: 0;
  }
  .section.bg6 .bg6_cotainer .title_bottom_box {
    margin-right: 0;
  }
  .section.bg7 {
    padding-bottom: 50px;
  }
  .section.bg5 {
    padding-bottom: 50px;
  }
  .section.bg5 .bg5_item {
    padding-left: 0px;
  }
  .section.bg5 .bg5_item li.item2, .section.bg5 .bg5_item li.item4 {
    margin-top: 25px;
  }
  .section.bg5 .step_content .step_title {
    height: 60px;
  }
  .section.bg5 .step_content .label3 {
    font-size: 15px;
  }
  .text-1-content p {
    font-size: 20px;
  }
  .section.bg7 .bg7_item li .content .contact {
    font-size: 17px;
  }
  .section.bg7 .bg7_item li .title p {
    font-size: 17px;
  }
  .section.bg7 .bg7_item {
    width: auto;
  }
  .section.bg7 .bg7_item_cotainer ul {
    padding-left: 0px;
  }
  .section.bg7 .bg7_item li {
    width: 90%;
    margin: 13px 10px;
  }
  .section.bg7 .bg7_item li .content p {
    font-size: 16px;
  }
  .footer ul > li > a {
    font-size: 16px;
  }
}
.tcon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }
  .tcon > * {
    display: block; }
  .tcon:hover, .tcon:focus {
    outline: none; }
  .tcon::-moz-focus-inner {
    border: 0; }

.tcon-menu__lines {
  display: inline-block;
  height: 5.71429px;
  width: 40px;
  border-radius: 2.85714px;
  transition: 0.3s;
  background: black;
  position: relative; }
  .tcon-menu__lines::before {
    display: inline-block;
    height: 5.71429px;
    width: 40px;
    border-radius: 2.85714px;
    transition: 0.3s;
    background: black;
    content: '';
    position: absolute;
    left: 0;
    -webkit-transform-origin: 2.85714px center;
    transform-origin: 2.85714px center;
    width: 100%; }
  .tcon-menu__lines::before {
    top: 10px; }
  /*.tcon-menu__lines::after {*/
    /*top: -10px; }*/
  .tcon-transform .tcon-menu__lines {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8); }

.tcon-menu--xcross {
  width: auto; }
  .tcon-menu--xcross.tcon-transform .tcon-menu__lines {
    background: transparent; }
    /*.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before, .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {*/
      /*-webkit-transform-origin: 50% 50%;*/
      /*transform-origin: 50% 50%;*/
      /*top: 0;*/
      /*width: 40px; }*/
    /*.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {*/
      /*-webkit-transform: rotate3d(0, 0, 1, 45deg);*/
      /*transform: rotate3d(0, 0, 1, 45deg); }*/
    /*.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {*/
      /*-webkit-transform: rotate3d(0, 0, 1, -45deg);*/
      /*transform: rotate3d(0, 0, 1, -45deg); }*/

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }



/*  PC,SP切り替え */
@media screen and (max-width: 1200px) {
  #header .mobile_demo_box {
    width: 65%;
  }
  .img_logo_box {
    float: left;
    margin-left: 15px;
  }
  /* Company SP */
  .company_page .contact_base,
  .contact_page .contact_base,
  .privacy_page .contact_base {
    margin: calc(100vw * 80 / 1200) auto calc(100vw * 100 / 1200);
    width: 94vw;
  }
  .contact_page table {
    width: 70vw;
  }
  .contact_page table tr td:first-child .require{
    font-size: 14px;
    text-align: center;
  }
  .section.bg2 .bg2_item_cotainer {
    padding-left: 0;
  }
}
@media screen and (max-width: 1151px) {
  .contact_page table tr td:last-child {
    width: 55%;
  }
}
@media screen and (max-width: 1003px) {
  .section.bg4 .service_item {
    margin-right: 2%;
  }
}
@media screen and (max-width: 915px) {
  .contact_page table tr td:first-child .require {
    margin: 3px;
  }
}

@media screen and (max-width: 900px){
  .contact_page table tr[class^="item"] {

    display: flex;
    height: auto;
  }
  .contact_page table tr[class^="item"] td:first-child p {
    line-height: normal;
    height: auto;
    width: 100%;
  }
  .contact_page table tr[class^="item"] td:first-child {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 20px;
    min-height: 75px;
  }
  .contact_page table tr td:last-child {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 761px) {
  img.disp-pc,
  br.disp-pc {display: block;}
  img.disp-sp,
  br.disp-sp {display: none;}
}
@media screen and (max-width: 760px) {
  img.disp-pc,
  br.disp-pc {display: none;}
  img.disp-sp,
  br.disp-sp {display: block;}

  header img.logo {
    width: 164px;
  }

  #header {
    position: relative;
  }
  #header .breadcumb {
    display: none;
  }
  #header .mobile_demo_box {
    width: 100%;
    margin: 0 auto;
  }
  #header .mobile_demo_box #mobile_demo {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  #header .header_text_box .header_text {
    top: 25%;
  }
  .index_page #header .header_text_box {
    position: absolute;
    top: 0;
    width: 90%;
    height: 50%;
    margin-left: 5%;
  }
  #header .header_text_item {
    width: 100%;
  }
  #header .mobile_demo_box .start_chat_btn {
    width: 8px;
    height: 10px;
    bottom: 18px;
  }
  #header .efo_demo .wc-webchat {
    width: 151px;
    height: 264px;
  }
  #header .efo_demo {
    right: 98px;
  }
  .section.bg1 .text-1-wrapper p {
    margin-bottom: 0;
    padding-bottom: 5px;
  }
  .section.bg2 {
    background: url(../images/bg2/background_mobile.png) no-repeat bottom transparent;
    background-size: cover;
  }
  .section.bg2 {
    padding-top: 20px;
  }
  .section.bg2 .text-1-content {
    margin: 0 10px;
  }
  .section.bg2 .text-2-content {
    margin: 10px 10px 0 0;
  }
  .section.bg2 .bg2_item {
    margin: 0;
    padding: 0;
  }
  .section.bg2 .bg2_item li {
    /*max-width: fit-content;*/
    max-width: 325px;
    width: 100%;
    height: auto;
    margin: 15px 30px;
  }
  .section.bg3 {
    padding-top: 20px;
  }
  .section.bg3 .text-1-box,
  .section.bg3 .service_item.service_pc {
    display: none;
  }
  .section.bg3 .bg3_item.left {
    margin: 0;
  }
  .section.bg3 .bg3_item li {
    line-height: 25px;
    font-size: 13px;
  }
  .section.bg3 .bg3_item.left li {
    padding: 0 30px 0 0;
  }
  .section.bg3 .bg3_item.right li {
    padding: 0 0 0 30px;
  }
  .section.bg3 .bg3_item {
    width: 68%;
    overflow: hidden;
  }
  .section.bg3 .bg3_item.left li,
  .section.bg3 .bg3_item.left li.active
  {
    width: 70%;
  }
  .section.bg3 .service_item.service_mobile {
    width: 100%;
  }
  .section.bg3 .service_item img {
    margin: 0 auto;
    display: block;
  }
  .section.bg3 .service_view {
    padding: 0;
  }
  .section.bg4 {
    padding-bottom: 60px;
  }
  .section.bg4 .service_item {
    width: 100%;
  }
  .section.bg4 .screen_device {
    margin: 0 auto;
    display: block;
  }
  .section.bg4 .screen_img {
    top: 69px;
    right: 213px;
  }
  .section.bg4 .bg4_item.left {
    min-width: 43%;
  }
  .section.bg4 .bg4_item li {
    line-height: 28px;
    font-size: 13px;
  }
  .section.bg4 .info_item {
    margin-top: 37px;
    width: 30%;
  }
  .section.bg5 {
    padding-top: 20px;
  }
  .section.bg5 .bg5_item li {
    width: 100%;
  }


  .section .box_container .box_item {
    width: 30%;
  }
  .section.bg6 .bg6_cotainer table td {
    width: 48%;
  }
  .section.bg5 .bg5_item{
    display: inline;
  }
  .section.bg5 .bg5_item>li{
    width: 100% !important;
  }

  /* Company SP */
  .company_page .contact_base,
  .privacy_page .contact_base {
    margin: calc(100vw * 80 / 760) auto calc(100vw * 100 / 760);
    width: 90vw;
  }
  .company_page .contact_base table {
    padding: 0 13px;
  }
  .company_page .contact_base table tr {
    display: block;
    height: auto;
  }
  .company_page .contact_base table tr + tr {
    margin-top: calc(100vw * 36 / 760);
  }
  .company_page .contact_base table tr td {
    display: block;
  }
  .company_page .contact_base table tr td + td {
    margin-top: calc(100vw * 12 / 760);
  }

  /*Contact SP*/
  .contact_page .contact_base {
    margin: calc(100vw * 80 / 760) auto calc(100vw * 100 / 760);
  }
  .contact_page table tr[class^="item"] td:first-child{
    padding: 0 10px;
  }
  .contact_page table {
    width: 95%;
  }
  .section.bg2 .bg2_item li .sp_view{
    display: -webkit-inline-box;
  }
  .section.bg2 .bg2_item li .sp_view img{
    width: 130px;
  }
  .section.bg2 .bg2_item li.item3 img {
    padding: 0 0 0 10%;
    margin-top: 40px;
    width: 84px;
  }
  .section.bg2 .bg2_item li .sp_view p{
    font-size: 15px;
    text-align: left;
  }
}

@media screen and (max-width: 400px) {
  .contact_page table tr[class^="item"] {
    display: flex;
    flex-direction: column;
  }
  .contact_page table tr.item1 td:first-child {
    border-top: none;
  }
  .contact_page table tr[class^="item"] td:first-child p {
    width: auto;
  }
  .contact_page table tr[class^="item"] td:first-child{
    flex-direction: row;
    display: flex;
    padding: 0 10px;
    width: calc( 100% - 16px );
    align-items:   center;justify-content: space-between;
  }
  .contact_page table tr td:last-child{
    min-height: 75px;
    width: 100%;
  }
  .contact_page table tr textarea{
    padding-top: 10px;
  }
  .contact_page table tr td:last-child {
    border-bottom: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
  }
  .contact_page table tr {
    border: none;
  }
}